<!DOCTYPE html>
  <html lang="en">
    <body style="font-size:20px; padding:50px;background-color: lightgrey">
      <div style="background-color: lightblue;border-radius: 10px;  width: 800px; height: 500px;">
      <h1>Page not found</h1>
      <a href ="http://localhost:8080/urls/new">Create a new URL</a>
    </body>
  </html>