<!DOCTYPE html>
  <html lang="en">
    <body style="font-size:20px; padding:50px;background-color: lightgrey">
      <div style="background-color: lightblue;border-radius: 10px;  width: 800px; height: 500px;">
        <form action="/register" method="POST" style="margin:150px;">
          <h3>Start Your Journey:</h3>
          <input id="email" type="email" name="email" placeholder="email" style="width: 300px">
          <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
          <input type="submit" value="Register">
        </form>
        <a href ="http://localhost:8080/login">already registered?</a>
      </div>
    </body>
  </html>